body {
  background-image: url(../wave.jpg);
  background-repeat: no-repeat;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
div {
  margin-bottom: 5%;
  margin-left: 13%;
}

h2 {
  font-size: 275%;
}
h4 {
  font-size: 175%;
}
p {
  font-size: 125%;
}
